

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



    <style>
        .card {
            margin: 5% 0%;
        }

        .card-body {
            margin: 0% 0% 0% 3%;
            padding: 6% 0%;
        }

        .a {
            font-family: serif;
            padding-left: 5%;
            padding-right: 5%;
            color: #500050;
        }
    </style>
</head>
<body>
    <div class="container">

        <!-- Card deck -->
        <div class="card-deck row" style="padding:20%;padding-top:10%;background-color:#3661ffbd">

            <!-- Card -->
            <div class="card" style="border:1px solid;box-shadow:initial;border-radius:12%;background-color:white;padding:3%">
                <img style="width:10%;margin-left:45%;margin-top:2%" src="https://image.flaticon.com/icons/png/128/3666/3666228.png" alt="logo images">
                <h1 style="text-align:center;margin-top:2%;margin-bottom:3%;color:#0f146d;font-family:'Google Sans'">Thông Tin Tài Khoản của bạn!</h1>
                <h2 class="a">Xin chào {{TenKH}} ,</h2>
                <h3 class="a">TechPi đã nhận được yêu cầu tìm lại mật khẩu của bạn và đây là thông tin tài khoản của bạn.</h3>
                <hr />

                <h2 class="a" style="font-family:sans-serif;color:#0f146d;font-style:italic">Thông Tin Tài Khoản</h2>
                <h3 class="a">Tên Khách Hàng : {{TenKH}}</h3>
                <h3 class="a">Ngày Sinh : {{DOB}}</h3>
                <h3 class="a">Số Điện Thoại : {{PhoneNumber}}</h3>
                <h3 class="a">Địa Chỉ : {{Address}}</h3>
                <h3 class="a">UserName : {{UserName}}</h3>
                <h3 class="a">Password : {{Password}}</h3>

            </div>
            <!-- Card -->



        </div>
        <!-- Card deck -->

    </div>

</body>


