
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body style="background-color: #666666;">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" action="@Url.Action("DoForgotPassword","Authentication")" method="post">

                    <a href="@Url.Action("Index","Home")" style="margin-left:100%;padding-bottom:10%"><img src="~/Registration/images/close.png" /></a>
                    <div style="text-align:center;margin-bottom:5%">
                        <i class="fa fa-lock" style="font-size:5em"></i>
                    </div>

                    <span class="login100-form-title p-b-43">
                        Forgot Password
                    </span>
                    @if (Session["ForgotPassword"] != null)
                    {
                        <p style="color:red;text-align:center">@Session["ForgotPassword"].ToString()</p>
                    }

                    <div class="wrap-input100 validate-input" data-validate="Email is required">
                        <input class="input100" type="email" name="email" id="email">
                        <span class="focus-input100"></span>
                        <span class="label-input100"><i class="fa fa-envelope" style="margin-right:3%"></i> Email</span>
                    </div>



                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Send
                        </button>
                    </div>


                    <div class="text-center p-t-46 p-b-20">
                        <span class="txt2">
                            <a href="@Url.Action("Register","Authentication")" class="txt1">
                                Don't have an account ?
                            </a>
                        </span>
                    </div>

                    <div class="login100-form-social flex-c-m">
                        <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
                            <i class="fa fa-facebook-f" aria-hidden="true"></i>
                        </a>

                        <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>

                <div class="login100-more">
                    <img src="~/Login/images/login.jpg" width="100%" />
                </div>
            </div>
        </div>
    </div>







</body>
</html>


