
@{
    ViewBag.Title = "TechPi | Sign Up";
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>

    <div class="main">

        <section class="signup">
            <div class="container">

                <div class="signup-content">
                    <a href="@Url.Action("Index","Home")"><img src="~/Registration/images/close.png" style="padding-left:100%" /></a>
                    <form method="POST" id="signup-form" class="signup-form" action="@Url.Action("AddIntoDatabase", "Authentication")">
                        <h2 style="font-weight:500" class="form-title">Sign Up</h2>
                        @if (ViewBag.message != null)
                        {
                            <p style="color:red;text-align:center">@ViewBag.message</p>
                        }
                        <div class="form-group">
                            <input type="text" class="form-input" name="name" id="name" placeholder="Your Name" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="address" id="address" placeholder="Your Address" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="phoneNumber" id="phoneNumber" placeholder="Your PhoneNumber" />
                        </div>
                        <div class="form-group">
                            <input type="date" class="form-input" name="ngaySinh" id="ngaySinh" placeholder="Your Date Of Birth" />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" id="email" placeholder="Your Email"  />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="userName" id="userName" placeholder="UserName" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="password" id="password" placeholder="Password" />
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>


                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" onclick="undisable()" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up" style="cursor:pointer" disabled />
                        </div>
                    </form>
                    <p class="loginhere">
                        Already have an account ? <a href="@Url.Action("Login","Authentication")" class="loginhere-link">Login here</a>
                    </p>

                </div>
            </div>
        </section>

    </div>

   
</body>
</html>

<script>
    function undisable() {
        document.getElementById("submit").disabled = false;
    }
</script>